.new_visualiser
{
  width: 700px;
  margin: 30px auto;
}
.visualiser_image_responsive
{
    width: 100%;
    height: auto;
}
.front_wheel img
{
  width: 75px;
  position: absolute;
  content: '';
  top: 55%;
  left: 36%;
  bottom: 121%;
  right: 0;
  transform: perspective(0px) rotateY(37deg);
  object-fit: cover;
}
.back_wheel img
{
  width: 56px;
  position: absolute;
  content: '';
  top: 54%;
  left: 70.5%;
  bottom: 0;
  right: 0;
  transform: perspective(405px) rotateY(54deg);
  object-fit: cover;
}
#modal_visualiser {
    min-height: 426px !important;
}
